[submodule "paredit.vim"]
	path = paredit.vim
	url = git://github.com/vim-scripts/paredit.vim.git
[submodule "julia-vim"]
	path = julia-vim
	url = git://github.com/JuliaLang/julia-vim.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-surround"]
	path = vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "pep8"]
	path = pep8
	url = git://github.com/vim-scripts/pep8.git
[submodule "syntastic"]
	path = syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "YankRing.vim"]
	path = YankRing.vim
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "vim-ipython"]
	path = vim-ipython
	url = git://github.com/ivanov/vim-ipython.git
